@font-face {
  font-family: EBGaramond;
  src: url('./fonts/EBGaramond.ttf');
}

@font-face {
  font-family: Urbanist;
  src: url('./fonts/Urbanist.ttf');
}

h1, h2, h3,
h4, h5, h6 {
  font-family: EBGaramond, serif;
  letter-spacing: .1rem;
}