*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: Urbanist, sans-serif;
  background-color: white;
  line-height: 1.6;
  color: black;
}

@font-face {
  font-family: Urbanist;
  src: url("./fonts/Urbanist.ttf");
}

h1, h2, h3,
h4, h5, h6 {
  font-family: Urbanist, sans-serif;
  letter-spacing: .1rem;
}

.card--gradient {
  display: inline-block;
  overflow: hidden;
  border-radius: .3rem;
  -webkit-box-shadow: 0 0 20px #e9e9e9;
          box-shadow: 0 0 20px #e9e9e9;
  border-radius: .5rem;
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
  background-color: #ed3237;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.card--gradient .card__body {
  background-color: #909090;
  font-size: 2rem;
  font-family: Urbanist, sans-serif;
  text-transform: uppercase;
  color: white;
  padding: .5rem 1rem;
}

.card--gradient .card__img {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.card--gradient:hover {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.card__img {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  width: 100%;
  height: auto;
}

.jumbotron {
  padding: 3rem 2rem;
  background-color: #ed3237;
  height: 90vh;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black)), url("~/assets/img/Diatheke wall.jpg");
  background: linear-gradient(to bottom, transparent, black), url("~/assets/img/Diatheke wall.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  line-height: 1.4;
}

.jumbotron__heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.jumbotron__paragraph {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  color: #f2f2f2;
}

.jumbotron .row {
  height: 100%;
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    padding: 5rem;
    line-height: 1.6;
    height: 85vh;
  }
  .jumbotron__heading {
    line-height: 1.2;
    font-size: 5rem;
  }
  .jumbotron__paragraph {
    -webkit-margin-before: 2rem;
            margin-block-start: 2rem;
    color: #f2f2f2;
  }
}

.nav {
  list-style-type: none;
}

.nav__link {
  color: #909090;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  background-color: white;
  text-transform: capitalize;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.nav__link .lni {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.nav__link:hover .lni {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__dropdown-container {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__link {
    color: #ed3237;
    padding: .5rem 0;
    -webkit-margin-end: 3rem;
            margin-inline-end: 3rem;
    font-weight: 400;
  }
  .nav__link .lni {
    display: none;
  }
  .nav__link:hover {
    opacity: .8;
  }
  .nav__dropdown {
    position: relative;
  }
  .nav__dropdown-link {
    width: 15rem;
    display: block;
    padding: 1.5rem 0;
    -webkit-margin-after: .5rem;
            margin-block-end: .5rem;
    background-color: transparent;
    color: #5d5d5d;
    font-size: 1.4rem;
    text-transform: capitalize;
    -webkit-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  .nav__dropdown-link:last-of-type {
    border: none;
  }
  .nav__dropdown-link:hover {
    color: #2a2a2a;
  }
  .nav__dropdown:hover .nav__dropdown-container {
    display: block;
  }
  .nav__dropdown-container {
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    padding: 0 2rem;
    display: none;
    z-index: -1;
    position: absolute;
    top: 4rem;
    right: auto;
    left: auto;
    background-color: #f6f6f6;
    border-radius: .3rem;
  }
}

.hamburger {
  cursor: pointer;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hamburger__toggler {
  display: none;
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line {
  background-color: #ed3237;
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line:nth-of-type(2) {
  opacity: 0;
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line:first-of-type {
  -webkit-transform: rotate(45deg) translate(1rem, 0);
          transform: rotate(45deg) translate(1rem, 0);
}

.hamburger__toggler:checked ~ .hamburger .hamburger__line:last-of-type {
  width: 100%;
  -webkit-transform: rotate(-45deg) translate(1rem, -0.3rem);
          transform: rotate(-45deg) translate(1rem, -0.3rem);
}

.hamburger__toggler:checked ~ .header__nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger__line {
  display: inline-block;
  padding: .1rem 2rem;
  background-color: #909090;
  -webkit-margin-after: .6rem;
          margin-block-end: .6rem;
  border-radius: .2rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.hamburger__line:last-of-type {
  padding: .1rem 1.5rem;
  width: 70%;
}

@media screen and (min-width: 1200px) {
  .hamburger {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header__logo {
  height: auto;
  width: 12rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-top: 0.1rem solid #909090;
  position: fixed;
  top: 7rem;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  padding: 2rem;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 2rem 5rem;
  }
  .header__logo {
    width: 15rem;
  }
  .header__nav {
    padding: 0;
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    border: none;
  }
}

.section {
  padding: 3rem 2rem;
  background-color: white;
}

.section--bg {
  background-color: #f6f6f6;
}

.section--no-padding {
  padding: 3rem 0;
}

.section__heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: gray;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.section__link {
  display: inline-block;
  color: #ed3237;
  text-transform: capitalize;
  margin: 1rem 0;
  font-weight: 600;
  position: relative;
}

.section__link::after {
  position: absolute;
  content: "";
  background-color: transparent;
  border-bottom: 0.2rem solid #ed3237;
  top: 0;
  bottom: -.3rem;
  left: 0;
  right: 0;
  width: 40%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.section__link:hover::after {
  width: 100%;
}

.section__img {
  width: 100%;
  height: auto;
}

.section__img--padded {
  padding: 2rem;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 5rem;
  }
  .section--no-padding {
    padding: 0 5rem;
  }
  .section__img--padded {
    padding: 5rem;
  }
}
/*# sourceMappingURL=master-styles.css.map */