.card {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
  border-radius: .5rem;
  overflow: hidden;

  &--gradient {
    display: inline-block;
    overflow: hidden;
    border-radius: .3rem;
    box-shadow: 0 0 20px lighten($secondary-color, 35);
    border-radius: .5rem;
    margin-block-end: 3rem;
    background-color: $primary-color;
    transition: 300ms ease-in-out;

    & .card__body {
      background-color: $secondary-color;
      font-size: 2rem;
      font-family: Urbanist, sans-serif;
      text-transform: uppercase;
      color: white;
      padding: .5rem 1rem;
    }

    & .card__img {
      transform: scale(1.12);
    }

    &:hover {
      transform: translateY(-1.5rem)//scale(1.1);
    }
  }

  &--relative {
    position: relative;

    & .card__body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba(black, .6);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: -1;
      transition: z-index 300ms ease-in-out;
    }

    &:hover .card__body {z-index: 1;}
  }

  &__img {
    transition: 300ms ease-in-out;
    width: 100%;
    height: auto;
  }

  &__heading {
    font-weight: 400;
  }
}