.hamburger {
  cursor: pointer;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__toggler {
    display: none;
    
    &:checked {
      & ~ .hamburger .hamburger__line {
        background-color: $primary-color;

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:first-of-type {
          transform: rotate(45deg) translate( 1rem ,0);
        }
        
        &:last-of-type {
          width: 100%;
          transform: rotate(-45deg) translate( 1rem, -.3rem);
        }
      }

      & ~ .header__nav {
        transform: translateX(0);
      }
    }
  }

  &__line {
    display: inline-block;
    padding: .1rem 2rem;
    background-color: $secondary-color;
    margin-block-end: .6rem;
    border-radius: .2rem;
    transition: 300ms ease-in-out;

    &:last-of-type {
      padding: .1rem 1.5rem;
      width: 70%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hamburger {display: none;}
}