.jumbotron {
  padding: 3rem 2rem;
  background-color: $primary-color;
  height: 90vh;
  background: linear-gradient(to bottom, transparent, black), url('~/assets/img/Diatheke wall.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  line-height: 1.4;

  &__heading {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
  }

  &__paragraph {
    margin-block-start: 2rem;
    color: darken(white, 5);
  }

  & .row {
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    padding: 5rem;
    line-height: 1.6;
    height: 85vh;

    &__heading {
      line-height: 1.2;
      font-size: 5rem;
    }
  
    &__paragraph {
      margin-block-start: 2rem;
      color: darken(white, 5);
    }
  }
}